MCU_MODEL = STM32F407V(E-G)Tx
CHIBIOS_VERSION = 3.0

HEADER
/*
 * Board identifier.
 */
#define BOARD_DEVBOARDM4
#define BOARD_NAME                  "DevboardM4 V2.1"

/*
 * Board oscillators-related settings.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                32768U
#endif

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                16000000U
#endif

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#define STM32F407xx


CONFIG
# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PUSHPULL|OPENDRAIN PIN_SPEED PULLUP|PULLDOWN|FLOATING LEVEL_LOW|LEVEL_HIGH AF_NUMBER
# simplified config for INPUT and OUTPUT
# PIN NAME INPUT PULLUP|PULLDOWN|FLOATING
# PIN NAME OUTPUT PUSHPULL|OPENDRAIN PIN_SPEED PULLUP|PULLDOWN|FLOATING LEVEL_LOW|LEVEL_HIGH
#
# PIN_SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
# PERIPH_TYPE : SYS, ADC, PWM, ICU, I2C, SPI, UART, OTG, ETH, SDIO, SDIOCK,
#
# SYSTEM
PA13 	SWDIO	  SYS  AF:SYS_JTMS-SWDIO
PA14 	SWCLK	  SYS  AF:SYS_JTCK-SWCLK
PC14 	OSC32_IN  SYS  AF:RCC_OSC32_IN
PC15 	OSC32_OUT SYS  AF:RCC_OSC32_OUT
PH00 	OSC_IN    SYS  AF:RCC_OSC_IN
PH01 	OSC_OUT   SYS  AF:RCC_OSC_OUT

#DEFAULT
DEFAULT                      INPUT   PULLDOWN

# ACTIVE PINS
PC00	LED0		OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_HIGH
PC01	LED1		OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_HIGH
PC02	LED2		OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_LOW
PC03	LED3		OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_LOW
PC04	LED4		OUTPUT  PUSHPULL SPEED_VERYLOW FLOATING LEVEL_LOW
PC05    SWITCH0     INPUT   PULLUP   3.3_VOLT
PB00    BPL         INPUT   PULLUP  3.3_VOLT
PB01    BPR         INPUT   PULLUP  3.3_VOLT


